<!DOCTYPE html>
<html>
<head>
    <title>Smart Contract Interaction</title>
</head>
<body>
    <h1>Smart Contract Interaction</h1>

    <form action="/interact" method="POST">
        <label for="inputData">Candidates Name:</label>
        <input type="text" name="name" id="inputData" required>
        <button type="submit">Vote</button>
    </form>
<br>
<br><br><br><br>
    <form action="/interact" method="GET">
        <button type="submit">Check Votes</button>
    </form>
</body>
</html>
